.btn {
  display: inline-block;
  color: black;
  background-color: #fff;
  padding: 0.75em 1.5em;
  border: solid 1.35px black;
  border-radius: 100vmax;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: #fff;
  background-color: var(--primary-color);
}
